body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color:#0F0F0F ;
}
.custom-favicon{
    width: 100px;
    height: 10px;
}

.page {
    width: 98%;
    height: 300svh;
    background-color: yellow;
    border: 0;
    padding-right: 0px;
}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 57px;
    background-color: #0F0F0F;
    z-index: 65;
    align-items: center;
    justify-content: center;
}

.header2 {
    position: relative;
    width: 100%;
    height: 57px;
    background-color: #0F0F0F;
    z-index: 1;
}
.img-short{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
}
.short-img{
    display: flex;
    position: relative;
    width: 100px;
    height: 40px;
    left: 120px;
    top: 6px;
}
.cross
{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    right: 2px;

}
.fa-x{
    height: 20px;
    width: 30px;
    display: flex;
    position: relative;
    top: 10px;
    right: 22px;
    padding-left: 17px;
    padding-bottom: 10px;
    padding-top: 12px;
    border-radius: 20px;
}
.fa-x:hover{
    cursor: pointer;
    background-color:#222222;
}

.sidebar {
    position: fixed;
    width: 80px;
    height: 100svh;
    background-color: #0F0F0F;
    z-index: 100;
    display: flex;
    flex-direction: row;
}

.coloumn-green {
    width: 100%;
    height: 110svh;
    background-color: #0F0F0F;
    position: relative;
}

.coloumn-green2 {
    width: 100%;
    height: 110svh;
    background-color: #0F0F0F;
    position: relative;
}

.coloumn-blue {
    width: 100%;
    height: 90svh;
    background-color: #0F0F0F;
    position: relative;
}

.coloumn-orange {
    width: 100%;
    height: 100svh;
    background-color: #0F0F0F;
    position: relative;
}

.coloumn-grey {
    align-content: flex-start;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 420px;
    background-color: #0F0F0F;
    position: relative;
    z-index: 2;
}

.coloumn-grey2 {
    align-content: flex-start;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 380px;
    background-color: #0F0F0F;
    position: relative;
}

.coloumn-pink {
    align-content: flex-start;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 390px;
    background-color: #0F0F0F;
    position: relative;
}

.coloumn-pink2 {
    align-content: flex-start;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 390px;
    background-color: #0F0F0F;
    position: relative;
}

.coloumn-white {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 580px;
    top: 10px;
    background-color: #0F0F0F;
    position: relative;
}

.video1 {
    top: 90px;
    left: 90px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.video2 {
    top: 90px;
    left: 60px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
    margin-right: 10px;
}

.video3 {
    top: 90px;
    left: 20px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.video4 {
    top: 90px;
    right: 10px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.video5 {
    top: 30px;
    left: 90px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.video6 {
    top: 30px;
    left: 60px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
    margin-right: 10px;
}

.video7 {
    top: 30px;
    left: 20px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.video8 {
    top: 30px;
    right: 10px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.short-yellow {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: yellow;
}

.short {
    top: 35px;
    margin-right: 20px;
    left: 100px;
    position: relative;
    width: 260px;
    height: 500px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 30px;

}
.short-1{
    display: flex;
    position: relative;
    width: 260px;
    height: 460px;
    border-radius: 20px;
}
.short-text{
    display: flex;
    position: relative;
    height: 100px;
    width: 101%;
    background-color: #0F0F0F;
    bottom: 55px;
}
.fa-ellipsis-vertical
{
    display: flex;
    height: 100px;
    position: relative;
    z-index: 11;
    font-size: 22px;
    cursor: pointer;
    bottom: 160px;
    left: 245px;
}
.text-1{
color: white;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    overflow: hidden;
    display: flex;
    position: relative;
    max-height: 4rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}
.short-text a{
    text-decoration: none;
    color: white;
}
.text-2
{
    display: flex;
    position: relative;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #626262;
    bottom: 85px;
    z-index: 10;
    left: 10px;
}

.video11 {
    top: 40px;
    left: 90px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.video21 {
    top: 40px;
    left: 60px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
    margin-right: 10px;
}

.video31 {
    top: 40px;
    left: 20px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.video41 {
    top: 40px;
    right: 10px;
    width: 340px;
    height: 320px;
    background-color: red;
    position: relative;
}

.video51 {
    top: 30px;
    left: 90px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.video61 {
    top: 30px;
    left: 60px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
    margin-right: 10px;
}

.video71 {
    top: 30px;
    left: 20px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.video81 {
    top: 30px;
    right: 10px;
    width: 340px;
    height: 320px;
    background-color: #0F0F0F;
    position: relative;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
}

.mic{
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 100px;
}
.fa-microphone:hover{
    background-color: #222222;
    transition: 0.2s;
}
.fa-microphone{
    cursor: pointer;
    position: relative;
    background-color: #3D3D3D ;
    z-index: 1;
    right: 195px;
    padding: 12px 16px 12px 16px;
    border-radius: 40px;
}

.fa-bars {
    font-size: 20px; /* Increase the icon size */
    cursor: pointer; /* Make the icon clickable */
    position: relative;
    top: 18px;
    left: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.img-div {
    height: 57px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    left: 200px;
}

.logo2 {
    width: 130px; /* Adjust as needed */
    height: 57px; /* Set specific height */
    margin-left: 90px; /* Adjust to align logo properly */
    z-index: 1;
    cursor: pointer;
}

.search {
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
    right: 180px;
    cursor: pointer;
}

.box:hover{
    background-color: #222222;
    border: 1px solid #173A65;
}

.box {
    width: 600px;
    height: 20px; /* Adjusted height */
    padding: 10px; /* Padding for inner spacing */
    font-size: 16px; /* Adjust font size */
    border: 1px solid grey; /* Border style */
    background-color: black;
    cursor: pointer;
    align-items: center;
    color: white; /* Text color */
    border-radius: 20px;
    left: 20px;
}
.glass:hover{
    cursor: pointer;
    background-color: #222222;
    transition: 0.2s;
}

.glass {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding-left: 15px;
    position: relative;
    border-radius: 20px;
    right: 230px;
    background-color: black;
    padding-right: 15px;
    height: 40px; /* Ensure height and width are equal to form a circle */
    width: 40px; /* Ensure width matches the height */
    outline: none;
    cursor: pointer;
    color: white;
}
.upload{
    cursor: pointer;
    width: 40px;
    height: 30px;
position: relative;
display: flex;
right: 20px;
margin-right: 20px;
}

.not{ 
    cursor: pointer;
position: relative;
display: flex;
vertical-align: center;
align-items: center;
}
.fa-bell{
    font-size: 20px;
    display: flex;
    position: relative;
    right: 10px;
    margin-right: 10px;
}
.number{
    display: flex;
     position: relative;
    font-size: 15px;
    color: white;
    background-color: red;
    padding: 0px 0px 0px 5px;
    border-radius: 40px;
    right: 26px;
    bottom: 7px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pro1{
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 18px;
    margin-right: 30px;
}
.home{
    height: 60px;
    width: 90px;
    display: flex;
    position: relative;
    cursor: pointer;
    top: 90px;
    right: 32px;
    background-color: #0F0F0F;;
    padding-top: 5px;
    padding-right: 24px;
    justify-content: center;
    align-items: center;
}
.compass{
    cursor: pointer;
    height: 60px;
    width: 90px;
    display: flex;
    position: relative;
    top: 200px;
    right: 160px;
    background-color: #0F0F0F;;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
        justify-content: center;
    align-items: center;
}
.sub{
    cursor: pointer;
    display: flex;
    width: 50px;
    height: 40px;
    position: relative;
    top: 320px;
    right:275px;
    background-color: #0F0F0F;;
}
.sub:hover{
    background-color: white;
}
.you{
    cursor: pointer;
    height: 60px;
    width: 90px;
    display: flex;
    position: relative;
    top: 410px;
    right: 100px
    background-color: #0F0F0F;;
    justify-content: center;
    align-items: center;
}
.lib{
    cursor: pointer;
    width: 10px;
    height: 10px;
    display: flex;
    position: relative;
    top: 532px;
    right: 340px;
    background-color: #0F0F0F;;
    justify-content: center;
    align-items: center;
}
.lib2{
    width: 50px;
    height: 40px;
    top: 520px;
    left: 0px;
}
.fa-house
{
    font-size: 30px;
    left: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-compass
{
    font-size: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
}
.fa-youtube
{
    font-size: 30px;
    right: 298px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-photo-film
{
    font-size: 30px;
    position: relative;
    display: flex;
    padding-left: 30px;
    padding-right: 62px;
    align-items: center;
    justify-content: center;
}
.h1{
    font-size: 13px;
    color: white;
    display: flex;
    position: relative;
    top: 40px;
    left: 36px;
}
.h2{
    font-size: 13px;
    color: white;
    display: flex;
    position: relative;
    top: 40px;
    left: 49px;
}
.h3{
     padding-top: 5px;
    font-size: 13px;
    color: white;
    display: flex;
    position: relative;
    top: 40px;
    left: 58px;
}
.h4{
    padding-top: 5px;
    font-size: 14px;
    color: white;
    display: flex;
    position: relative;
    top: 30px;
    right: 256px;
}
.h5{
    padding-top: 5px;
    font-size: 14px;
    color: white;
    display: flex;
    position: relative;
    top: 30px;
    left: 40px;
}
.thumbnail-1{
    width: 100%;
    height: 60%;
    border: 0;
}
.name{
    background-color: #0F0F0F;
    width: 100%;
    height: 125px;
}
.channel-1{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 8px;
}
.channel-text{
    height: 116.8px;
    width: 260px;
    display: flex;
    position: relative;
    left: 70px;
    bottom: 55px;
    background-color: #0F0F0F;
    padding: 5px 5px 4px 5px;
    justify-content: center;
}
.channel-dec{
    display: flex;
    position: absolute;
    width: 260px;
    height: 50px;
    font-weight: 550;
    background-color: #0F0F0F;
    color: white;
}
.channel-dec a{
    text-decoration: none;
    color: white;
}
.channel-name a{
    text-decoration: none;
    color: white;
}
.channel-name{
    background-color: #0F0F0F;
    display: flex;
    position: relative;
    top: 60px;
    width: 100%;
    height: 50px;
    border: 0;
    padding: 01;   
}